html,
body {
  --header-height: 76px;
}
.n-page-header .n-page-header__avatar {
  margin-right: 0px;
}

.n-menu-item {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.n-menu-item:first-child .n-menu-item-content {
  padding-left: 0;
}
.n-menu.n-menu--horizontal .n-menu-item-content {
  padding-left: 0;
  padding-right: 50px;
}

.n-card > .n-card__action {
  background: none !important;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
}
.n-card.n-card--bordered {
  border: 2px solid #545353 !important;
}
.n-card.week.n-card--footer-soft-segmented > .n-card__footer:not(:first-child) {
  border-top: 2px solid #545353 !important;
}
.n-card.main-card.n-card--footer-soft-segmented > .n-card__footer:not(:first-child) {
  border-top: 2px solid rgba(255, 255, 255, 0.2) !important;
}
.n-card {
  background: linear-gradient(180deg, #1b1a1d 29.95%, #3b3a3e 150.81%);
  border-radius: 45px;
}
.n-card.n-card--footer-soft-segmented > .n-card__footer {
  margin: 0 33px !important;
}
.n-card__footer {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards > * {
  display: flex;
}
.main-card {
  background: url("../img/mainCard.png");
  width: 369px !important;
  height: 369px !important;
  .n-card-header {
    margin: 0 20px !important;
  }
  &__title {
    font-weight: 500;
    font-size: 100px;
    line-height: 100px;
  }
}
//ВОПРОС ПО ПОВОДУ ТУПОГО ХЕДЕРА ПОЧЕМУ ДЛЯ КЛАССА ВИИК НЕ ПРИМЕНЯЕТСЯ ЕБАННЫЙ ФОНТ!!?!?!?
.n-card > .n-card-header{
  font-size: 30px;
  
}
.week{
  .n-card__action{
    padding-bottom: 35px;
  }
}

.yandex-container {
  height: 700px;
}

.n-card > .n-card-header .n-card-header__extra {
  font-size: 30px;
  
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
