<script lang="ts">
import { defineComponent, ref, onMounted } from "vue";
import type { MenuOption } from "naive-ui";
import Sun1 from "../components/icons/IconSun1.vue";
import { useWeatherStore, CheckDay } from "../stores/weather.module";
import CardWeather from "../components/CardWeather.vue";
import { yandexMap, ymapMarker } from "vue-yandex-maps";
import { computed } from "@vue/reactivity";
import isMounted from "vooks/lib/life-cycle/use-is-mounted";

const weekday = [
  "Sunday",
  "Monday",
  "Tuesday",
  "Wednesday",
  "Thursday",
  "Friday",
  "Saturday",
];
const menuOptions: MenuOption[] = [
  {
    label: "Today",
    key: "today",
  },

  {
    label: "Tomorrow",
    key: "tomorrow",
  },

  {
    label: "Next 5 days",
    key: "5days",
  },
];

export default defineComponent({
  name: "InPage",
  components: { Sun1, CardWeather, yandexMap, ymapMarker },
  setup() {
    const store = useWeatherStore();
    onMounted(async () => await store.api_weather())
    const settings = {
      apiKey: "f35c292b-dc63-4087-9729-41c9780e2ca8", // Индивидуальный ключ API
      lang: "ru_RU", // Используемый язык
      coordorder: "latlong", // Порядок задания географических координат
      debug: false, // Режим отладки
      version: "2.1", // Версия Я.Карт
    };
    const controls = ["fullscreenControl"];
    const detailedControls = {
      zoomControl: { position: { right: 10, top: 50 } },
    };
    const getcoord = computed(() => store.getcoord)
    const coord = ref([getcoord.value.lat,getcoord.value.lon])

    return {
      activeKey: ref<string | null>(null),
      menuOptions,
      Sun1,
      forecast: ref(true),
      store,
      CheckDay,
      weekday,
      settings,
      coords: [54, 39],
      controls,
      detailedControls,
      getcoord,
      coord,
    };
  },
});
</script>

<template>
  <n-row>
    <n-col :span="17">
      <n-space
        style="display: flex; margin-bottom: 50px; margin-top: 30px"
        justify="space-between"
        align="center"
      >
        <n-menu
          v-model:value="activeKey"
          mode="horizontal"
          :options="menuOptions"
        />
        <n-space vertical>
          <n-switch v-model:value="forecast">
            <template #checked> Forecast </template>
            <template #unchecked> Air quality </template>
          </n-switch>
        </n-space>
      </n-space>

      <n-space
        style="margin-bottom: 50px"
        justify="space-between"
        class="cards"
      >
        <card-weather
          v-for="(i, index) in store.weather"
          :title="weekday[CheckDay(index)]"
          :temp="parseInt(i.main.temp) + '°'"
          :icon="i.weather[0].icon"
          :feels_like="parseInt(i.main.feels_like)"
          :wind="parseInt(i.wind.speed)"
          :pressure="parseInt(i.main.pressure)"
          :humidity="parseInt(i.main.humidity)"
          :main="index === 0"
        />
      </n-space>

      <!-- <YandexMap
        :coordinates="[]"
        :detailed-controls="detailedControls"
        :controls="controls"
        map-type="map"
        :settings="settings"
        zoom="7"
      /> -->
    </n-col>

    <n-col :span="7">
      <n-space>
        <img class="widgets" src="../assets/img/Wind status.png" />
        <img class="widgets" src="../assets/img/Sunrise & Sunset.png" />
        <img class="widgets" src="../assets/img/UV Index.png" />
      </n-space>
    </n-col>
  </n-row>
</template>

<style lang="scss" scoped>
.widgets{
  margin-left: 100px;
}
</style>
