<template>
  <YandexMap
    :coordinates="coordinates"
    :detailed-controls="detailedControls"
    :controls="controls"
    map-type="hybrid"
    :settings="settings"
  />
</template>

<script lang="ts" setup>
const coordinates = [55, 33];
const controls = ["fullscreenControl"];
const detailedControls = { zoomControl: { position: { right: 10, top: 50 } } };
const settings = {
  apiKey: "f35c292b-dc63-4087-9729-41c9780e2ca8", // Индивидуальный ключ API
  lang: "ru_RU", // Используемый язык
  coordorder: "latlong", // Порядок задания географических координат
  debug: false, // Режим отладки
  version: "2.1", // Версия Я.Карт
};
</script>

<style>
.yandex-container {
  height: 1000px;
}
</style>
