<script lang="ts">
import { useWeatherStore } from "../stores/weather.module";
import { ref, defineComponent, h } from "vue";
import Sun1 from "../components/icons/IconSun1.vue";
import Menu from "../components/icons/IconMenu.vue";
import {NIcon} from "naive-ui"
export default defineComponent({
  name: "CardWeather",
  props: {
    title: {
      default: "",
      type: String,
    },
    temp: {
      default: "",
      type: String,
    },
    main: {
      default: true,
      type: Boolean,
    },
    humidity: {
      default: "",
      type: String,
    },
    pressure: {
      default: "",
      type: String,
    },
    wind: {
      default: "",
      type: String,
    },
    feels_like: {
      default: "",
      type: String,
    },
    icon: {
      default: "",
      type: String,
    },
  },
  components: {
    Sun1, Menu
  },
  setup() {
    const geticon = (icon) => {
      switch(icon){
        case "01d": return h(NIcon,{},{default:()=>h(Sun1)});
        case "01n": return h(NIcon,{},{default:()=>h(Moon1)});
        case "02d": return h(NIcon,{},{default:()=>h(Menu)});
      }
    }
    return {
      time: new Date(),
      geticon
    };
  },
});
</script>

<template>
  <n-card
    :class="{ 'main-card': main, week: !main }"
    :style="{ alignItems: main ? '' : 'center' }"
    :title="title"
    :segmented="{ footer: 'soft' }"
  >
    <template #header-extra v-if="main"> <n-time :time="time" format="hh:mm" style="font-size: 30px"/> PM </template>
    <template #footer>
      <div class="main-card__title" v-if="main">{{ temp }}</div>
      
      <n-icon :size="main ? 120 : 80" :component="geticon(icon)"></n-icon>
    </template>
    <template #action v-if="!main">{{ temp }}</template>

    <template #action v-else>
      <div class="information">{{ 'Feels Like: ' + feels_like + '°'}}</div>
      <div class="information">{{ 'Wind: ' + wind + ' km/h'}}</div>
      <n-space justify="space-between">
        <div class="information">{{ 'Pressure: ' + pressure + 'MB'}}</div>
        <div class="information">{{ 'Humidity: ' + humidity + '%'}}</div>
      </n-space>
    </template>
  </n-card>
</template>

<style lang="scss" scoped>
.information{
  font-weight: 350;
  font-size: 20px;
  line-height: 30px
}
</style>