<script lang="ts">
import { defineComponent, ref } from "vue";
import { useWeatherStore } from "../../stores/weather.module";

export default defineComponent({
  name: "Moon1",
  setup() {
    const store = useWeatherStore();
    return {
      store,
    };
  },
});
</script>

<template>
  
</template>

<style scoped></style>
