<script lang="ts">
import { defineComponent, ref } from "vue";
import { useWeatherStore } from "../../stores/weather.module";

export default defineComponent({
  name: "Alert",
  setup() {
    const store = useWeatherStore();
    return {
      store,

    };
  },
});
</script>

<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_13_68)">
      <path
        d="M7.42383 21C7.81149 21.8914 8.45106 22.6502 9.26398 23.1831C10.0769 23.716 11.0278 23.9999 11.9998 23.9999C12.9719 23.9999 13.9228 23.716 14.7357 23.1831C15.5486 22.6502 16.1882 21.8914 16.5758 21H7.42383Z"
        :fill="store.bgcolor ? 'white' : 'black' "
      />
      <path
        d="M22.3923 12.5489L20.6563 6.82593C20.1004 4.82428 18.8917 3.0657 17.2222 1.82943C15.5526 0.593158 13.518 -0.0499525 11.4412 0.00220786C9.36444 0.0543683 7.36462 0.79881 5.75927 2.11734C4.15391 3.43586 3.03504 5.25289 2.5803 7.27993L1.2323 12.8169C1.05313 13.5527 1.04342 14.3195 1.20391 15.0596C1.36439 15.7996 1.69087 16.4936 2.15872 17.089C2.62656 17.6845 3.22354 18.1659 3.90461 18.4969C4.58568 18.8279 5.33304 18.9999 6.0903 18.9999H17.6073C18.388 19 19.1579 18.8172 19.8553 18.4662C20.5527 18.1152 21.1582 17.6057 21.6233 16.9787C22.0884 16.3516 22.4003 15.6243 22.5338 14.8551C22.6673 14.0859 22.6189 13.2961 22.3923 12.5489V12.5489Z"
        :fill="store.bgcolor ? 'white' : 'black' "
      />
    </g>
    <defs>
      <clipPath id="clip0_13_68">
        <rect width="24" height="24" :fill="store.bgcolor ? 'white' : 'black' " />
      </clipPath>
    </defs>
  </svg>
</template>

<style scoped></style>
