<script lang="ts">
import { defineComponent, ref } from 'vue'
import {useWeatherStore} from './stores/weather.module'

export default defineComponent({
  name: "app",
  
  setup () {
    const store = useWeatherStore()
    return {
      store
    }
  }
})
</script>

<template>
  <n-config-provider :theme="store.getcolor">
 <RouterView />
  </n-config-provider>
</template>

<style scoped>

</style>
