<script lang="ts">
import { useWeatherStore } from "../stores/weather.module";
import { ref, defineComponent } from "vue";
import { Sunny, MoonSharp, Search } from "@vicons/ionicons5";
import Alert from "../components/icons/IconAlert.vue";
import Menu from "../components/icons/IconMenu.vue";

export default defineComponent({
  name: "TheHeader",
  components: { Alert, Menu },
  setup() {
    const search = ref("");
    const search_weather = () => {
      store.setCityName(search.value)
      store.api_weather()
    };
    const store = useWeatherStore();
    const imageUrl = new URL("../assets/img/Avatarka.jpg", import.meta.url);
    return {
      store,
      Sunny,
      MoonSharp,
      Search,
      imageUrl,
      search,
      search_weather,
    };
  },
});
</script>

<template>
  <n-layout-header class="header">
    <n-row>
      <n-col :span="17">
        <n-space align="center" justify="space-between">
          <div style="display: flex; align-items: center">
            <n-button circle style="margin-right: 40px">
              <n-icon size="24"><Menu /></n-icon>
            </n-button>

            <n-button circle style="margin-right: 50px">
              <n-icon size="24"><Alert /></n-icon>
            </n-button>

            <div class="title">{{ store.city_name }}</div>
          </div>

          <n-input
            v-model:value="search"
            @keyup.enter="search_weather"
            size="large"
            round
            placeholder="Search"
            style="min-width: 516px;"
          >
            <template #prefix>
              <n-icon :component="Search" />
            </template>
          </n-input>
          
        </n-space>
      </n-col>

      <n-col :span="7">
        <n-space align="center" justify="end">
          <n-switch v-model:value="store.bgcolor" style="margin-right: 80px">
            <template #checked-icon>
              <n-icon :component="MoonSharp" />
            </template>
            <template #unchecked-icon>
              <n-icon :component="Sunny" />
            </template>
          </n-switch>

          <div style="display: flex">
            <n-avatar round :src="imageUrl" />
          </div>
        </n-space>
      </n-col>
    </n-row>
  </n-layout-header>
</template>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: center;
  padding: 50px 150px;
}

.title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.n-button,
.n-avatar {
  width: 70px;
  height: 70px;
}
</style>
