<script lang="ts">
import { useWeatherStore } from "../stores/weather.module";
import { ref, defineComponent } from "vue";
import HeaderLayout from './HeaderLayout.vue'
export default defineComponent({
  name: "MainLayout",
  components: {
    HeaderLayout
  },
  setup() {
    return {
      layout: {
        containerClass: "document-scroll-container",
      },
    };
  },
});
</script>

<template>
  <n-layout :position="'absolute'">
    <!--Пропсы прочитать API naive -->
    <n-layout  content-style="min-height: calc(100vh-var(--header-height));" :position="'absolute'" :native-scrollbar="false" :scrollbar-props="layout">
      <header-layout/>
      <n-layout-content content-style="padding: 0 150px">
        <router-view/>
      </n-layout-content>
    </n-layout>
  </n-layout>
</template>

<style scoped></style>
